.main { 
  --main-background-rgb: 11, 38, 32;
  --primary-rgb:  23, 54, 56;
  --secondary-rgb: 216, 255, 133;
  --primary-text-colour: 224, 227, 203;
  --secondary-text-colour: 255, 255, 255;
  font-family: Arial, Helvetica, sans-serif;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(var(--main-background-rgb));
  padding: 32px;
}
.marqueeWrapper {
  position: relative;

  .marqueeTitle {
    display: inline-block;
    margin: 32px 0 64px 40px;
    font-size: 112px;
    color: rgb(var(--primary-text-colour));
    text-transform: uppercase;
  }
}

.factsContainer { 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 56px;
}

.factCard {
  width: 500px;
  height: 550px;
  padding: 48px;
  background-color: rgba(23, 54, 56, 0.7);
  border-radius: 16px;
  
  &:hover {
    background: linear-gradient(
      45deg,
      rgb(var(--primary-rgb)), 
      rgb(var(--secondary-rgb))
    );
    transform: scale(1.05);
    transition-duration: 90ms;
    cursor: pointer;
  }
}

.factContent { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.factText {
  font-weight: lighter;
  font-size: 16px;
  color: rgb(var(--primary-text-colour));
  
  .factNumber { 
    font-size: 20px;
    color: rgb(var(--secondary-text-colour));
  }
}

.catIcon { 
  color: rgb(var(--secondary-rgb));
}

.addButtonContainer {
  display: flex;
  position: relative;
}

.fab { 
  position: fixed;
  bottom: 50px;
  right: 70px;
  width: 250px;
  height: 50px;
  z-index: 10;
  overflow-y: scroll;
  font-size: 20px;
  cursor: pointer;
}

.modal { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow-y: scroll;
  top: 200px;
  width: 500px;
  height: 150px;
  background-color: rgba(var(--primary-text-colour), 1);
  border: none;
  border-radius: 5px;
}

.form { 
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  .modalHeader {
    color: rgb(var(--primary-rgb));
  }
}

.modalButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;

  button {
    cursor: pointer;
  }
}

.factButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;

  button { 
    padding: 0;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(var(--primary-text-colour));

    &:hover { 
      border: none;
      cursor: pointer;
      color: rgb(255, 255, 255, 0.4)
    }
  }
}

.fav { 
  color: #cc3333;

  &:hover { 
    color: rgb(204, 51, 51, 0.8);
  }
}